
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;  
  justify-items: middle;
  background-color: #265077;
  width: auto;
  height: 100vh;
}

.BreakTop{
	grid-column: 1 / span 3;
	background-color: #022140;
	text-align:center;
	color:white;
}

.Drone { 
	grid-area: 2/1;
	margin-left: 50px;
	position: relative;
}

.About-me {
	grid-area: 2/2;
	margin-left: 50px;
}

.Gui { 
	grid-area: 2/3;
	transition:transform 0.25s ease;
}

.Rover { 
	grid-area: 3/1;
	margin-left: 50px;
}

.Bio{
	text-align: justify;
	color: white;
}

.NCAS { 
	grid-area: 3/3;
	margin-left: 50px;
}
